<!DOCTYPE html>
<html>
<head>
    <!-- Seu cabeçalho e outros elementos do HTML -->
</head>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<body>
    <!-- Seção de conteúdo do seu modelo -->
    <script>
        window.onload = function() {
            var alert_message = "{{ alert_message }}";  // Recebe a mensagem do Flask.
            if (alert_message) {
                alert(alert_message);
            }
        };
    </script>
    <!-- Outro conteúdo do modelo -->
</body>
</html>