<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!--Chamando os estlos que estão na página "style.css"-->
    <title>Trabalho 2</title>
</head>
<body>
    <h1 class="destaques">José Ricardo Goulart Silva</h1>
    <p class="destaques">19 anos, solteiro, natural de Franca-SP</p>

    <!--Um parágrafo centralizado horizontalmente, contendo uma foto de rosto sua.
        A foto deve ter 300 pixels de largura por 300 pixels de altura-->

    <div><img src="{{ url_for('static', filename='images/minha_imagem.jpg') }}" alt="Minha Imagem"></div>

    <!--Corrigindo o erro anterior, estava sob uma tag <pre> desnecessária. Apenas utilizei <br> para separar as citações-->
    <p><blockquote>"O sábio nunca diz tudo o que pensa,<br>mas sempre pensa tudo que diz."<br><em>(Filósofo Aristóteles)</em></blockquote>
    </p>
    <h2>Sobre mim</h2>
    <p>Estou cursando Análise e Desenvolvimento de Sistemas (Inclusive é minha primeira graduação de curso superior), e pretendo ampliar meus conhecimentos na área da tecnologia.</p>
    <p>Desde 2016 trabalho no setor Calçadista de Franca-Sp, no ramo da Serigrafia. Agora meu foco é me aprofundar nos conceitos e conquistar um estágio na área </p>
    <h2>Escolaridade</h2>
    <ul type="square"  > <!--Marcação em formato de Marcadores quadrados conforme solicitado ("type="square"") -->
        <li>Ensino Médio: <a href="https://www.facebook.com/profile.php?id=100011801951345" target="_blank" rel="external">E. E. Evaristo Fabrício, Franca/SP</a></li><!--Link Referenciado das instituições que eu Estudei, TAG<a> -->
        <li>Ensino Fundamental: <a href="https://www.facebook.com/profile.php?id=100049300848366" target="_blank" rel="external">EMEB. Antônio Manoel de Paula, Franca/SP</a></li>
    </ul>
    <em><h2>Hobbies</h2></em> <!--Título com Itálico Semântico-->
    <ol type="1"><!--Professor, no Enunciado do Trabalho, você não especificou esse requisito da lista ordenada, mas no exemplo está dessa forma, então fiz de acordo com o PDF-->    
        <li>Tocar violão (razoavelmente bom)</li>
        <li>Viajar (demanda planejamentos)</li>
        <li>Jogar On-line</li>
    </ol>
</body>
</html>